* {
  box-sizing: border-box;
  font-family: 'garamond-premier-pro', 'Proxima Nova';
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
  padding: 0;
  color: #35373B;
  background-color: #FFF;
}

body {

}

.landingPage {
  margin: 0 auto 0 auto;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background: url("https://wallpapercave.com/wp/wp1889481.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.displayPage {
  margin: 50px;
  background-color: transparent;
}

.result-container {
  min-width: 50%;
  // max-width: 80%;
  // min-height: 30%;
  min-height: 300px;
  box-shadow: 10px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-content: center;

  margin: 20px;

}

.eventImage {
  width: 100%;
  height: 100%;
}

#eventTitle {
  font-weight: bolder;
}

#eventInfo {
  font-weight: bolder
}

.innerbox {
  padding: 10px;
  width: 95%;
  height: 95%;
  // margin: 15px auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
}

// .displayContainer {
//  border: solid 1px blue;
//   grid-column-start: 2;
//   grid-column-end: end;
// }

.eventImageBox {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: end;

  padding-top: 6px;
}

.eventTitleBox {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.eventInfoBox {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

.eventDescriptionBox{
  grid-column-start: 2;
  grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: 3;
}

.eventLocationBox{
  grid-column-start: 2;
  grid-column-end: end;
  grid-row-start: 3;
  grid-row-end: end;
}

