* {
  box-sizing: border-box;
  font-family: 'garamond-premier-pro', 'Proxima Nova';
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
  padding: 0;
  color: #35373B;
  background-color: #FFF;
}

body {
  padding-top:10px;
}

.result-container {
  max-width: 80%;
  max-height: 700px;
  min-height: 500px;
  box-shadow: 10px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.eventImageBox {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 6;
}

.eventTitleBox {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.eventInfoBox {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

.eventDescriptionBox{
  grid-column-start: 2;
  grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: 4;
}

.eventLocationBox{
  grid-column-start: 2;
  grid-column-end: end;
  grid-row-start: 4;
  grid-row-end: end;
}

.outerBox {
  max-width: 650px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 10px 15px 39px rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.innerbox {
  padding: 10px;
  width:95%;
  margin: 15px auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
}

.displayBox {
  overflow: auto;
  padding-top: 10px;
}

.marketBox {
  padding: 5px;
  width:30%;
  margin: 5px 5px 13px 10px;
  float:left;
  font-size: .8em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
}

#header {
  text-align: center;
  letter-spacing: .2em;
  margin-bottom: 10px;
}

#totals {
  line-height: 1.5em;
}

input {
  margin: 10px;
}

label {
  font-weight: bold;
}

button {
  padding: 3px;
  margin: 3px;
}