
// fonts 
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// variables
$boxShadow: 0px 5px 15px 5px rgba(0,0,0,0.34);;
$videoBackgroundColor: rgba(9, 28, 38, 0.673);

//lock the scroll bar
html, body {
    margin: 0;
    height: 100%;
}
body{
    font-family: 'Bebas Neue', cursive;
}
.button {
    background-color: #a4dbe45b;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 6px 10px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;
  }
.wholeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}
.video{
    
    width: 120vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -50px;
    
    z-index: -1;
}
.welcomeBack{
    font-size: 4em;
    font-weight: bold;
    color: rgb(228, 207, 207);
    text-shadow: 0 0 6px #000;
    margin-bottom: 20px;
    background-color: $videoBackgroundColor;
    padding: 20px;
    border-radius: 10px;
    box-shadow: $boxShadow;
}
.whenLook{
    font-size: 1.2em;
    color: rgb(228, 207, 207);
    text-shadow: 0 0 10px #000;
    margin-bottom: 20px;
    background-color: $videoBackgroundColor;
    padding: 15px;
    border-radius: 10px;
    box-shadow: $boxShadow;
}
.calandarPick {
    font-size: 1.2em;
    color: rgb(228, 207, 207);
    text-shadow: 0 0 10px #000;
    margin-bottom: 20px;
    background-color: $videoBackgroundColor;
    padding: 35px;
    border-radius: 10px;
    box-shadow: $boxShadow;
}
.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15em;
}
.selectionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-size: 30px;
    
}
.calandarPick {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}


//login page
greeting{
    font-size: 4em;
    font-weight: bold;
    color: rgb(223, 215, 215);
    text-shadow: 0 0 6px #000;
    margin-bottom: 100px;
    background-color: $videoBackgroundColor;
    padding: 10% 25%;
    border-radius: 10px;
    box-shadow: $boxShadow;
}
.landingPage {
    margin: 0 auto 0 auto;
    width: 100%;
    min-height: 100vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    background: url("https://wallpapercave.com/wp/wp1889481.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .displayPage {
    margin: 50px;
    background-color: transparent;
  }
  
  .result-container {
    min-width: 50%;
    // max-width: 80%;
    // min-height: 30%;
    min-height: 300px;
    box-shadow: 10px;
  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
  
    margin: 20px;
  
  }
  
  .eventImage {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.488);

  }
  
  #eventTitle {
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.488);
  }
  
  #eventInfo {
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.488);
  }
  
  .innerbox {
    padding: 10px;
    width: 95%;
    height: 95%;
    // margin: 15px auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, 0.488);
  }
  
  // .displayContainer {
  //  border: solid 1px blue;
  //   grid-column-start: 2;
  //   grid-column-end: end;
  // }
  
  .eventImageBox {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: end;
  
    padding-top: 6px;
    background-color: rgba(255, 255, 255, 0.488);
  }
  
  .eventTitleBox {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgba(255, 255, 255, 0.488);
  }
  
  .eventInfoBox {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgba(255, 255, 255, 0.488);
  }
  
  .eventDescriptionBox{
    grid-column-start: 2;
    grid-column-end: end;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgba(255, 255, 255, 0.488);
  }
  
  .eventLocationBox{
    grid-column-start: 2;
    grid-column-end: end;
    grid-row-start: 3;
    grid-row-end: end;
    background-color: rgba(255, 255, 255, 0.488);
  }
  
  