body{
    font-family: monospace;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px;
    background-color: rgb(177, 204, 219);
    font-size: 30px;
}

.logo{
    margin-right: 15em;
    margin-left: 5em;
}

.topic-image{
}

.nav-list{
    display: flex;
    margin-left: 20px;
}
.nav-items{
    display:flex;
    padding-right: 15px;
}

.title{
    font-size: 100px;
    text-align: center;
    padding: 70px 0px 30px;
    background-color: rgb(129, 155, 189);
}

.sub {
    font-size: 20px;
    color: rgb(70, 63, 63);
}

.userInput{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px 20px;
}

.topicsDisplay{
    padding-left: 40px;
    padding-right:40px;
}

.topicTitle{
    font-size: 20px;
}

.topics{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px;
}

.topic{
    display: flex;
    border: solid 3px rgb(129, 155, 189);
    border-radius: 5px;
    height: 250px;
    margin: 10px 0px 10px;
    align-items: center;
    justify-content: space-between;
}




.topic-image{
    margin-left: 50px;
    margin-right:20px;
    //height: 100px;
}
.topic-desc{
    width: 50%;
    margin-right: 20px;
    padding-bottom: 40px;
    border: solid 3px rgb(129, 155, 189); 
}
.topicName{
    font-size: 35px;
    padding-bottom:10px;
    text-decoration: none;
    font-weight: bold;
    color:rgb(8, 37, 75);
    cursor: pointer;
}

.topicName:hover{
    color:black;
}


button {
    cursor: pointer;
}