body{
    font-family: monospace;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(177, 204, 219);
    font-size: 30px;
}

.logo{
    margin-right: 15em;
    margin-left: 5em;
}

.topic-image{
}

.nav-list{
    display: flex;
    margin-left: 20px;
}

.nav-items button {
    margin: 5px;
    height: 40px;
    width: 105px;
    font-size: 15px;
    font-family: monospace;
    background-color: transparent;
    box-shadow: 3px 1px 3px black;
}

.nav-items button:hover {
    background-color:  rgba(232, 210, 171, 0.817)
}


.topics button {
    width: 100px;
    height: 75px;
    margin: 5px;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    font-family: monospace;
    box-shadow: 3px 1px 3px black;
}
.topics button:hover {
    background-color:  rgba(232, 210, 171, 0.817)
}


.title{
    font-size: 100px;
    text-align: center;
    padding: 70px 0px 30px;
    background-color: rgb(129, 155, 189);
}

.sub {
    font-size: 20px;
    color: rgb(70, 63, 63);
}

.userInput{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px 20px;
}

.topicsDisplay{
    padding-left: 40px;
    padding-right:40px;
}

.topicTitle{
    font-size: 20px;
}
.userInput{
    display:flex;
    align-items: center;
    background-color: rgb(255, 178, 36);
}

label{
    font-weight: bold;
    font-size:20px;
}

input{
    width: 400px;
    height: 25px;
}
.topics{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(222, 203, 203);
    border: none;
}

.topics button {
    width: 100px;
    height: 75px;
    margin: 5px;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    font-family: monospace;
    box-shadow: 3px 1px 3px black;
}
.topics button:hover {
    background-color:  rgba(232, 210, 171, 0.817)
}


.topic{
    display: flex;
    border: solid 3px rgb(129, 155, 189);
    border-radius: 5px;
    height: 250px;
    margin: 10px 0px 10px;
    align-items: center;
    justify-content: space-between;
}




.topic-image{
    margin-left: 50px;
    margin-right:20px;
    //height: 100px;
}
.topic-desc-container{
    width: 50%;
    height: 60%;
    margin-right: 20px;
    padding-bottom: 40px;
    border: solid 3px rgb(129, 155, 189); 
}
.topicName{
    font-size: 35px;
    padding-bottom:10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color:rgb(10, 77, 165);

}
.topic-desc{
    margin-top: 10px;
}
.topicName:hover{
    color:black;
}


button {
    cursor: pointer;
}